{% extends 'base.html' %}
{% load static %}

{% block content %}    
    <div class="how_we_work_firstpage">
        <div class="text">
            <h1>how we work </h1>
            <p>Hello, we are july first studio, a professional media house based in Port Harcourt, Nigeria.</p>
        </div>
    </div>
    <div class="how_we_work_secondpage">
        <h1>All our jobs are done having you at heart and we work together with you based on these principles:</h1>
        <p>
            <b>Creativity:</b> 
            Our passion for our craft and love for Art is the drive and motivation for our excellence. At July First Studio, we create dreams and make desires a reality.
            <br>
            <b>Respect:</b>   
            At July First Studio, we make our client's happiness our responsibility, we ensure our clients enjoy good services and comfort.
            <br>
            <b>Authenticity:</b>
            What we do comes wholly from our hearts. We ensure every staff is motivated by passion for creativity and our love for Art is our drive, our services are genuine and our products and Authentic. 
            <br>
            <br>
            Our goal is to ensure people get a worthy service for their money.
            <br>
            July First is here to organize every event and guide you through the process of starting a business.

            We pay complete attention to the desires of our clients and we your dreams realistic.
            Every staff is trained to serve and render quality services with the best equipments available.

            Our services are affordable, are services are of good quality, we're opened for booking within and outside Nigeria.
            We are available if you're in need of any of our services.
            We can be reached via our contacts or you visit our head office.
        </p>
    </div>
    {% block script %}
        <script src="{% static 'script/comment.js' %}"></script>
    {% endblock %}
{% endblock %}